body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", sans-serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625em;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: "Sacramento";

}

h2 {
  color: #66BFBF;
  font-family: "Montserrat";
  font-size: 35px;
}

h3 {
  color: #11999E;
  font-family: "Montserrat";
  font-size: 20px;
}

a {
  color: #11999E;
  font-family: "Montserrat";
}

p {
  font-family: "Dosis";
  font-size: 20px;
}

span {
  text-decoration: underline;
}

.profile-pic {
  width: 180px;
  margin-top: 30px;
}

hr {
  margin: 100px auto 100px;
  border-top: 5px dotted #EAF6F6;
  border-bottom: none;
  border-left-width: 0;
  width: 5%;
}

.first-para {
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

.mid-para {
  display: inline-block;
  width: 30%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}


.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}


.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}


.bottom-container {
  background-color: #66BFBF;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-link {
  margin-right: 30px;
  text-decoration: none;
  color: #11999E;
}

.footer-link:hover {
  color: #EAF6F6;
}

.footer {
  padding-top: 20px;
  color: #EAF6F6;
  font-size: 15px;
}

.btn {
  text-decoration: none;
  color: #EAF6F6;
  background-image: linear-gradient(#11999E, #66BFBF);
  padding: 10px;
  border-radius: 10%;
  font-family: "Montserrat";
}

.btn:hover {
  background-image: linear-gradient(#51c5bf, #a3e9e2);
}

.last-para {
  width: 40%;
  margin: 40px auto 50px;
}

.contact-me {
  margin-bottom: 70px;
}
